@use "../../styles/mixins";
@use "../../styles/variables";
.container {
  height: calc(100vh - 84px);
  @include mixins.flexbox(
    $display: flex,
    $justifyContent: center,
    $alignItems: center
  );
  .chat_wrapper {
    @include mixins.flexbox($display: flex, $flex-basis: 65%);
    background-color: variables.$light-color;
    padding: 1rem;
    width: 100%;
    height: 80%;
    border-radius: 7px;
  }
}
