//* ======================== Colors ========================
$primary-color: #242424;
$secondary-color: #2f2f2f;
$dark-color: #1a1a1a;
$light-color: #e3e3e3;
$theme-color1: #646cff;
$theme-color2: #b73cfe;
$theme-color3: #ffa800;

//* ======================== Font-size ========================

$font-sm: 1rem;
$font-md: 1.25rem;
$font-lg: 3rem;
