@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";
.wrapper {
  background-color: #2b2f7a;
  @include mixins.flexbox(
    $display: flex,
    $alignItems: center,
    $justifyContent: space-between
  );
  height: 4rem;
  padding: 0.6rem;
  .logo {
    flex: 1 1 50%;
    img {
      max-width: 50%;
    }
  }
  .user {
    @include mixins.flexbox(
      $display: flex,
      $alignItems: center,
      $justifyContent: flex-end,
      $shrink: 1,
      $grow: 1,
      $flex-basis: 65%
    );
    margin-right: 1rem;
    .user_img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 0.5rem;
    }
  }
  .user_btn {
    all: unset;
    font-size: 0.7rem;
    padding: 0.5rem;
    width: 5rem;
    border-radius: 3px;
    text-align: center;
    background-color: variables.$theme-color1;
    color: variables.$light-color;
    cursor: pointer;
  }
}
